/* general styling */ 

:root {
   --bg1: #80330c;
   --bg2: #cc7019;
   --bg3: #fb7821;
   --cactus: #2ecc71;
   --sun: #d6472a;
   --bg4: #d27750;
   --button: #1390dd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p {
    text-align: center;
}

/* art piece */

.art-piece-container {
    height: 70vh;
    width: 100%;
    background-color: #f0f0f0;
}

.art-piece {
    height: 100%;
    width: 100%;
}   

/* shapes */

.shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10, .shape11 {
    position: absolute;
}

/* cactus base */
.shape1 {
    top: 33vb;
    left: 40vb;
    width: 10%;
    height: 30%;
    background-color: var(--cactus);
    z-index: 5;
}
/* cactus top */
.shape2 {
    top: 16vb;
    left: 40vb;
    width: 10%;
    height: 30%;
    border-radius: 100px;
    background-color: var(--cactus);
    z-index: 5;
}
/* cactus arm */
.shape3 {
    top: 28vb;
    left: 58vb;
    width: 8%;
    height: 17%;
    background-color: var(--cactus);
    transform: scale(.7);
    z-index: 5;
}
/* cactus arm top */
.shape4 {
    top: 20vb;
    left: 58vb;
    width: 8%;
    height: 25%;
    border-radius: 100px;
    background-color: var(--cactus);
    transform: scale(.7);
    z-index: 5;
}
/* cactus arm base */
.shape5 {
    top: 40vb;
    left: 44.5vb;
    width: 18.5%;
    height: 10%;
    border-radius: 5px;
    background-color: var(--cactus);
    transform: scale(.7) rotate(150deg);
    z-index: 5;
}
/* dark brown bg */
.shape6 {
    bottom: 32vb;
    width: 100%;
    height: 20%;
    background-color: var(--bg1);
    z-index: 4;
}
/* light brown bg */
.shape7 {
    bottom: 43vb;
    width: 100%;
    height: 20%;
    background-color: var(--bg2);
    z-index: 3;
}
/* orange bg */
.shape8 {
    bottom: 50vb;
    width: 100%;
    height: 20%;
    background-color: var(--bg3);
    z-index: 2;
}
/* left plateau */
.shape9 {
    top: 20vb;
    left: 10vb;
    width: 30%;
    height: 20%;
    background-color: var(--bg4);
    transform: skew(-10deg);
    z-index: 1;
}
/* right plateau */
.shape10 {
    top: 20vb;
    left: 90vb;
    width: 30%;
    height: 20%;
    background-color: var(--bg4);
    transform: skew(-10deg);
    z-index: 1;
}

/* sun */
.shape11 {
    top: 5vb;
    left: 75vb;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    background-color: var(--sun);
    z-index: 0;
}



/* form styling */

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

h3 {
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 600;;
}

label {
    display: block;
    font-size: 18px;
    margin-top: 10px;
}

input[type="text"], 
input[type="email"] {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: var(--button);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* media queries */

@media screen and (min-width: 1024px) {
    /* cactus arm */
    .shape3{
        top: 29vb;
    }
    /* cactus arm base */
    .shape5 {
        width: 19.5%;
    }
    /* sun */
    .shape11 {
        width: 22%;
    }
}

@media screen and (min-width: 1628px) {
    /* cactus arm */
    .shape3{
        top: 29vb;
        width: 7.5%;
    }
    /* cactus arm top */
    .shape4 {
        width: 7.5%;
    }
    /* cactus arm base */
    .shape5{
        width: 17%;
    }
    /* sun */
    .shape11 {
        width: 20%
    }
}

